:root {
    --timing-function: cubic-bezier(0.4, 0, 0.25, 1);
    --animation-duration: 400ms;
}

* {
    box-sizing: border-box;
    margin: o;
    padding: 0;
    text-decoration: none;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smooting: antialiased;
    -moz-osx-font-smooting: grayscale;
    background-color: rgb(74, 140, 179);
    color:rgb(16, 16, 17);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
}

.search-form {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 89, 121);
}

.search-form input {
    width: 340px;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    border: none;
    outline: none;
}

.search-form button {
    height: 35px;
    width: 35px;
    border: none;
    background-color: darkgray;

}

.search-form button:hover,
.search-form button:focus {
    cursor: pointer;
}



.info {
    grid-row: 2;
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    color: black;
    text-decoration: none;
    margin-top: 10px;
}


.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    text-align: left;
}



.photo-card {
    display: inline-block;
    margin: 0px;
    background-color: rgb(146, 205, 233);
    width: calc(24% - 10px);
    height: 300px;
    position: relative;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: transform var(--animation-duration) var(--timing-function);
}

.photo-card:hover {
    transform: scale(1.03);
}

.photo-card__image {
    grid-row:1;
    height: 80%;
    object-fit: cover;
}

.photo-card__link {
    display: block;
    text-decoration: none;
    height: 180px;
    width: 290px;
}

.photo-card__link:hover {
    cursor: zoom-in;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    gap: 15px 10px;
    width: 1190px;
    margin-top: 20px;
}

.load-more {
    height: 50px;
    width: 120px;
    margin: 15px;
    font-size: 18px;
    font-weight: 700;
    background-color: chocolate;
    border-radius: 4px;
}

.load-more:hover,
.load-more:focus {
    cursor: pointer;
}

