:root {
    --timing-function: cubic-bezier(0.4, 0, 0.25, 1);
    --animation-duration: 200ms;
}



* {
    box-sizing: border-box;
    margin: o;
    padding: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smooting: antialiased;
    -moz-osx-font-smooting: grayscale;
    background-color: rgb(74, 140, 179);
    color:rgb(21, 34, 153);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
 }

.search-form {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 89, 121);
}

.search-form input {
    width: 340px;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    border: none;
    outline: none;
}

.search-form button {
    height: 35px;
    width: 35px;
    border: none;
    background-color: darkgray;

}

.search-form button:hover,
.search-form button:focus {
    cursor: pointer;
}



.info {
    display: flex
 }

.info-item {
    padding: 8px;
 }

.photo-card {
    display: inline-block;
    margin: 5px;
    width: calc(33.33% - 10px);
    position: relative;
}

.gallery {
    text-align: center;
    display: flex;
  flex-wrap: wrap;
  gap: 15px 10px;
  width: 1190px;
  margin-top: 20px;
}

.load-more {
    height: 50px;
    width: 120px;
    font-size: 18px;
    font-weight: 700;
    background-color: chocolate;
    border-radius: 4px;
}

.load-more:hover,
.load-more:focus {
    cursor: pointer;
}